








/* .navbar{
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
   
   
}

.nav_icon{
    display: none;
}


.nav_icon > i{
    font-size: 26px;
    color: #a5aaad;
}

.navbar__left > a{
    margin-right: 70px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 700;
}

.navbar__left .active_link{
    color:rgba(24, 161, 131, 1);
    border-bottom: 3px solid rgba(24, 161, 131, 1);
    padding-bottom: 18px;
}

.navbar__right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__right > a{
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}


.navbar__right>a > i{
    color: #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #d9d9d9;
    padding: 7px;
} */

.responsive {
   
   
    background-size: contain;
    width: 1000px;
    min-height: 100vh;
    padding-left: 50px;
}

ul {
    list-style-type: none;
}
.tabBar{
 width: 100%;
background-color: rgb(238, 231, 231);
 height: 50px;
padding-bottom: 70px;
;
}

Link:hover{
    color: #333;
}

#tabBar_nav li{
    width: 100%;
}

ul{
    display: flex;
    margin-bottom: 50px;
    line-height: 80px;
justify-content: space-evenly;
flex-direction: row;

}
li{
    list-style-type: none;
    color: #333;
    font-weight: 700;
    margin-left: 60px;
    
}

Link{
     justify-content: space-between;
    
}


.active{
    color: rgba(24, 161, 131, 1);
}
.active::after{
    color: aqua;
}
.active:hover{
    color: tomato;
}


#upload-box input{
    margin-top: 50px;
}

.flex-container-document {
    border: #333 1px solid;
    padding: 10px;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px 6px #777;
    
}
.flex-container-document h2 {
    margin-left: 50px;
}

.navbar__right{
    color: red;
}



@media only screen and (max-width:978px){
    .nav_icon{
        display: inline;
    }
    .navbar__left {
        display: none;
    }
}

@media only screen and (max-width:480px){
    .navbar__left{
        display: none;
    }
    .navbar__right{
        display: none;
    }
    ul,
    li{
       display: none;

    }
    .tabBar{
        background-color: #ffff;
    }
.flex-container-document {
    width: 80%;
    margin-left: -30px !important;
    object-fit: cover;
  
}
}











